<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Sta.Maria_Business_and_Record_Management_System.My.MySettings.dbstamariaConnectionString"
            connectionString="server=localhost;user id=root;database=dbstamaria"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>